doctype
html
  head
    title= "The Chat Room"
    script(src='../socket.io/socket.io.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/chat.js')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')

  body
    .container
      h1 The Chat Room
    .container
      .row
        .col-lg-6
          .container#content.form-control(style='height: 300px; margin: 0 0 20px 0; overflow-y: scroll;')
          .form-group.input-group
            input.control-label.form-control#field(type='text', placeholder='enter text here')
            .input-group-btn
              button.btn.btn-primary#send(type='button', value='send') send
